body
{
    font-family: 'Audiowide', cursive;
    /* font-size: 3.0rem; */
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../img/BG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.mynav
{
    /* background-size: 600px 175px; */
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    width: 100%;
    height: 110px;
    display: flex;
}

.mydiv
{
    flex: 1;
    color: white;
}

#techvalley
{
    font-size: 45px;
    color: white;
}
#techvalley:hover
{
    color: yellow;
}

nav ul
{
    float: right;
    margin-top: 15px;
}

nav ul li
{
    list-style-type: none;
    display: inline-block;   
    margin: 5px;
    font-size: 25px;
}

nav ul li:hover
{
    background-color: aqua;
    color: black;
}

.mcontainer
{
    /* border: 2px dashed white; */
    text-align: center;
    margin: auto;
    margin-top: 50px;
}


.foot
{
    margin-top: 5%;
}