body
{
    font-family: 'Audiowide', cursive;
    /* background: green; */
}

.mynavbar
{
    background: orange;
}

.navbar-brand a
{
    color: black;
}

.mytable
{
    width: 450px;
    margin-right: auto;
    margin-left: ;
    /* float: left; */
}

.head3
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
}